:root {
  --basic-black: #000000;
  --basic-light-black: #333333;
  --basic-white: #FFFFFF;
  --basic-blue: #81B3D2;
  --basic-hover-blue: #669EC0;
  --basic-focus-blue: #5496BD;
  --basic-gray: #EEEEEE;
  --basic-light-gray: #F2F2F2;
  --basic-special-gray: #CACACA;
  --basic-input-gray: #EBEBEB;
  --basic-dark-gray: #766357;
  --basic-hover-gray: #604E43;
  --basic-focus-gray: #503E33;
  --basic-plus-gray: #A9A9A9;
}


/* Global */

body {
  min-width: 1240px;
  margin-left, margin-right: 40px;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */
.vissually-hidden{
  display: none;
}

.main-navigation a {
  font-weight: bold;
  line-height: 26px;
  color: var(--basic-black);
}

.site-navigation {
  list-style: none;
}

.site-navigation a:hover {
  color: var(--basic-blue);
}
.site-navigation a:focus {
  opacity: 0.3;
}

.site-navigation a:active{
  color: var(--basic-dark-gray);
}



/* Slogan */

.slogan-picture{
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 509px;
}

.slogan-item h2 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.slogan-item p {
  line-height: 26px;
  color: var(--basic-light-black);
}


/* Features */
.features-list{
  list-style: none;

}
.features-list h3{
  font-weight: bold;
  font-size: 21px;
}

.features-item-1{
  background: var(--basic-blue);
  color: var(--basic-white);
}
.features-item-3{
  background: var(--basic-gray);
}

/* Feedback*/
.feedback h4 {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.feedback p {
  line-height: 24px;
}

/* Footer*/
.contacts-phone {
  color: var(--basic-black);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.contacts-social ul {
  list-style: none;
}

.contacts-social a {
  background: var(--basic-blue);
}
.contacts-social a:hover {
  background: var(--basic-hover-blue);
}
.contacts-social a:focus {
  background: var(--basic-focus-blue)
}
.contacts-creator {
  line-height: 26px;
}
